<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.whut.dao.RoleDao">
	<cache type="org.mybatis.caches.ehcache.EhcacheCache"></cache>
	<resultMap type="Role" id="BaseResultMap">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="seq" property="seq" jdbcType="TINYINT"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
	</resultMap>
	<sql id="Base_Column_List">
    id, name, seq, description, status
  	</sql>
  	
  	<select id="findRoleResourceListByRoleId" resultType="java.util.HashMap" parameterType="java.lang.Long">
    SELECT
        e.id AS id,
        s.url AS url
    FROM
        sys_role r
    LEFT JOIN sys_role_resource e ON r.id = e.role_id
    LEFT JOIN sys_resource s ON e.resource_id = s.id
    WHERE
        r.id = #{id}
  </select>
</mapper>
